<ion-content>
    <ion-list>
        <!-- Button to download android APK -->
        <ion-item>
            Download Android Version :
            <ion-button (click)="this.download()">
                <ion-icon class="ion-float-end" name="md-download">
                </ion-icon>
            </ion-button>
        </ion-item>
        <!-- Button to download iOS APK -->
        <ion-item>
            Download iOS Version :
            <ion-button (click)="download()">
                <ion-icon class="ion-float-end" name="md-download">
                </ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>