<ion-content class="ion-text-center">
  <div class="ion-align-items-center">
    <ion-title>Antivax'medic</ion-title>
    <ion-icon name="md-more"></ion-icon>
  </div>
  <div class="ion-text-center">
    <ion-text>Visit Saturday 25th May 2019 - 15h15</ion-text>
  </div>
  <div>
    <p size="10px">Quick notes about the visit</p>
    <p size="8px">Visit n°54</p>
  </div>
  <div class="ion-align-items-center">
    <ion-row>
      <ion-list class="scroll-content">
        <ion-item lines="none" class="item" href="../pharmaceuticals/pharmaceuticals.page.html"> Pharmacy </ion-item>
        <ion-item lines="none" class="item" (click)="$event"> OK </ion-item>
      </ion-list>
    </ion-row>
  </div>
</ion-content>