<ion-content class="ion-text-center">
  <div class="ion-align-items-center">
    <ion-title>Antivax'medic</ion-title>
    <ion-icon name="md-more"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>Gross purchase price</h3>
          500.00€
        </div>
        <div class="ion-text-wrap">
          <h3>Net purchase price</h3>
          400.00€
        </div>
        <div class="ion-text-wrap">
          <h3>Net selling price</h3>
          300.00€
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>Discount rate</h3>
          20%
        </div>
        <div class="ion-text-wrap">
          <h3>Multiplier</h3>
          4.2
        </div>
      </ion-col>
    </ion-row>
    <div class="ion-align-items-center">
      <ion-row>
        <ion-list class="scroll-content">
          <ion-item lines="none" class="item" href=""> Compute </ion-item>
          <ion-item lines="none" class="item" (click)="$event"> OK </ion-item>
        </ion-list>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>