<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Visits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pharmaceutics List with distance -->
  <ion-list lines="bottom">
    <ion-item (click)="visitsPopover($event)">
      <ion-label>Saturday 25th May 2019 - 15h15</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="visitsPopover($event)">
      <ion-label>Saturday 3rd June 2019 - 15h15</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="visitsPopover($event)">
      <ion-label>Saturday 17th June 2019 - 13h00</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
