<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Gross purchase price (€)</ion-label>
    <ion-input [(ngModel)]="grossPurchasePrice" (ionChange)="computeNetPurchasePrice($event)" type="number" [min]="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Discount rate (%)</ion-label>
    <ion-input [(ngModel)]="discountRate" (ionChange)="computeNetPurchasePrice($event)" type="number"></ion-input>
  </ion-item>
  <h1>Net purchase price</h1>
  <p>{{netPurchasePrice}}</p>
</div>