<ion-content class="ion-text-center">
  <div class="ion-align-items-center">
    <ion-title>Antivax'medic</ion-title>
    <ion-icon name="md-more"></ion-icon>
  </div>
  <div class="ion-text-center">
    <ion-text class="little-text">A little note on the pharmacy, this is a nullable field that can help the DMO during his quick look on the app</ion-text>
  </div>
  <div>
    <h3>Adress</h3>
    <ion-text>14 rue de l'or argenté</ion-text>
    <h3>Next visit</h3>
    <ion-text>25/05/2019 - 15h15</ion-text>
    <h3>Next formation</h3>
    <ion-text>28/07/2019 - 17h30</ion-text>
    <p size="10px">A little note on the formation</p>
  </div>
  <div class="ion-align-items-center">
    <ion-row>
      <ion-list class="scroll-content">
        <ion-item lines="none" class="item" href="../visits/visits.page.html"> Visits </ion-item>
        <ion-item lines="none" class="item" href="../formations/formations.page.html"> Formations </ion-item>
        <ion-item lines="none" class="item" (click)="$event"> OK </ion-item>
      </ion-list>
    </ion-row>
  </div>
</ion-content>