<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pharmaceutics List with distance -->
  <ion-list lines="bottom">
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Pharmacie bikini</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 5 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Pharma'bien</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 11 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Antivax'medic</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 17 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Apu & Bobo drugstore</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 23 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Pharmacie mangesanpatro</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 29 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="geolocationPopover()" (click)="locate()">
      <ion-label>Pharma-scierie</ion-label>
      <ion-button class="ion-float-end" (click)="locate()"> 31 km </ion-button>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>