<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let button of buttonRoute" (click)="ButtonRouting(button.fonctionLink, $event)" detail button>
        <ion-icon slot="start" [name]="button.icon"></ion-icon>
        {{button.title}}
      </ion-item>
    </ion-list>    
</ion-content>



