<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Net Purchase Price (€)</ion-label>
    <ion-input [(ngModel)]="netPurchasePrice" (ionChange)="computeNetSellingPrice($event)" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Multiplier (×)</ion-label>
    <ion-input [(ngModel)]="multiplier" (ionChange)="computeNetSellingPrice($event)" type="number"></ion-input>
  </ion-item>
  <h1>Net Selling Price</h1>
  <p>{{netSellingPrice}}</p>
</div>