<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Net Purchase Price (€)</ion-label>
    <ion-input [(ngModel)]="netPurchasePrice" (ionChange)="computeMultiplier($event)" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Net Selling Price (€)</ion-label>
    <ion-input [(ngModel)]="netSellingPrice" (ionChange)="computeMultiplier($event)" type="number"></ion-input>
  </ion-item>
  <h1>Multiplier</h1>
  <p>{{multiplier}}</p>
</div>