<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Formations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pharmaceutics List with distance -->
  <ion-list lines="bottom">
    <ion-item (click)="formationsPopover($event)">
      <ion-label>Sunday 28th July 2019 - 17h30</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="formationsPopover($event)">
      <ion-label>Thursday 15th August 2019 - 16h00</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="formationsPopover($event)">
      <ion-label>Monday 19th August 2019 - 09h00</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
