<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Net purchase price (€)</ion-label>
    <ion-input [(ngModel)]="netPurchasePrice" (ionChange)="computeDiscountRate($event)" type="number" [min]="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Gross purchase price (€)</ion-label>
    <ion-input [(ngModel)]="grossPurchasePrice" (ionChange)="computeDiscountRate($event)" type="number" [min]="0"></ion-input>
  </ion-item>
  <h1>Discount rate</h1>
  <strong>{{discountRate}}</strong>
</div>
  <ion-button (click)="closePopover()" color="light" expand="block">
    <ion-ripple-effect></ion-ripple-effect>
    OK
  </ion-button>