<ion-content class="ion-text-center">
  <div class="ion-align-items-center">
    <ion-title>Antivax'medic</ion-title>
    <ion-icon name="md-more"></ion-icon>
  </div>
  <div class="ion-text-center">
    <ion-text>Formation Sunday 28th July 2019 - 17h30</ion-text>
  </div>
  <div>
    <p size="10px">Quick notes about the formation</p>
    <p size="8px">Formation n°5</p>
  </div>
  <div class="ion-align-items-center">
    <ion-row>
      <ion-list class="scroll-content">
        <ion-item lines="none" class="item" href="../pharmaceuticals/pharmaceuticals.page.html"> Pharmacy </ion-item>
        <ion-item lines="none" class="item" (click)="$event"> OK </ion-item>
      </ion-list>
    </ion-row>
  </div>
</ion-content>