.body{
  --width:100%;
}

.little-text{
  --color:#86888f;
  --size:10px;
}

.scroll-content{
  --justify-content:center;
  --display:flex!important;
  --align-items:center!important;
  --width:100%!important;
  justify-content:center;
  display:flex!important;
  align-items:center!important;
  width:100%!important;
}

.item{
  --justify-content:center;
  --text-align:center;
  --background:white;
  --color:#4c8dff;
  --border-color:#86888f;
  --border-width:1px;
  --border-style:solid;
  --width:100%;
}