<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
    <!-- Dropdown showing downloading mobile versions -->
    <ion-buttons slot="end">
      <ion-button (click)="downloaderPopover()">
        <ion-icon name="ios-arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Visits List -->
    <ion-list lines="bottom">
      <ion-list-header>
        <ion-label>NEXT VISITS</ion-label>
      </ion-list-header>
      <ion-item href="../visits/visits.page.html">
        <ion-label>Today 12h00 - Pharma'bien</ion-label>
      </ion-item>
      <ion-item href="../visits/visits.page.html">
        <ion-label>25/05/2019 15h15 - Antivax'medic</ion-label>
      </ion-item>
    </ion-list>
    <!-- Formations List -->
    <ion-list lines="bottom">
      <ion-list-header>
        <ion-label>NEXT VISITS</ion-label>
      </ion-list-header>
      <ion-item href="../formations/formations.page.html">
        <ion-label>Today 12h00 - Pharma'bien</ion-label>
      </ion-item>
      <ion-item href="../formations/formations.page.html">
        <ion-label>25/05/2019 15h15 - Antivax'medic</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
