<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Pharmaceuticals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pharmaceutics List with distance -->
  <ion-list lines="bottom">
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Bougelajambe</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Paracetadur</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Dafalmouffle</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Biagrosse</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Viasec</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
    <ion-item (click)="pharmaceuticalsPopover($event)">
      <ion-label>Mercurofer</ion-label>
      <ion-icon name="ios-arrow-forward" class="ion-float-end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
